<form action="/changePassword/" method="post" class="login__form register" data-err="0,0,0">
    <label class="login__form-label">
        Enter old password
        <input type="password" class="login__form-input username-input" name="oldPassword">
        <p class="userName-error"></p>
    </label>
    <label class="login__form-label">
        Enter new password
        <input type="password" class="login__form-input password-input" name="newPassword">
    </label>
    <label class="login__form-label">
        Confirm new password password
        <input type="password" class="login__form-input password-input" name="confirmNewPassword">
        <p class="password-error"></p>
    </label>
    <p class="form-err"></p>
    <p>{{error}}</p>
    <input type="submit" class="login__form-input">
</form>

<script src="/register.js"></script>
