<header class="header">
    <div class="username">{{username}}</div>
    <form action="/changePassword/">
        <input type="submit" value="Change password" class="logout">
    </form>
    <form action="/logout/" method="post">
        <input type="submit" value="Logout" class="logout">
    </form>
</header>
<div class="wrapper">
    {{#if show}}
        <form action="/" method="post" class="index__form">
            <input class="index__form-input" type="text" name="job">
            <input class="index__form-input" type="text" name="day">
            <input class="index__form-input" type="text" name="time">
            <input class="index__form-input" type="submit">
        </form>
    {{/if}}
    <table class="index__table">
        {{#each table}}
            <tr class="index__table-row">
                {{#each .}}
                <td>{{.}}</td>
                {{/each}}
            </tr>    
        {{/each}}
    </table>
    {{#if show}}
    <p>Click -------^</p>
    {{/if}}
</div>

{{#if show}}
    <script src="/main.js"></script>
{{/if}}