<form action="/login/" method="post" class="login__form">
    <label class="login__form-label">
        Enter Name
        <input type="text" name="userName" class="login__form-input">
    </label>
    <label class="login__form-label">
        Enter Password
        <input type="password" name="password" class="login__form-input">
    </label>
    <p>
    {{error}}
    </p>
    <input type="submit" class="login__form-input">
    <a href="/register">Create account</a>
</form>